.chat-message {
  margin: 3px;
  padding: 5px;
  font-size: var(--font-size-14);
  color: var(--color-text-dark-primary);
  background: url(../ui/parchment.jpg) repeat;
  border: 2px solid #6f6c66;
  border-radius: 5px;
}
.chat-message .message-header {
  line-height: 20px;
  color: var(--color-text-dark-secondary);
}
.chat-message .message-header .message-sender {
  flex: 3;
  margin: 0;
  white-space: nowrap;
}
.chat-message .message-header .message-metadata {
  flex: 2;
  text-align: right;
  font-size: var(--font-size-12);
}
.chat-message .message-header .flavor-text,
.chat-message .message-header .whisper-to {
  flex: 0 0 100%;
  font-size: var(--font-size-12);
}
.chat-message .message-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-break: break-word;
}
.chat-message.emote {
  background: #f3edde;
  border: 2px solid #887c5d;
}
.chat-message.whisper {
  background: #e8e8ef;
  border: 2px solid #545469;
}
.chat-message.blind {
  background: #f5eaf5;
  border: 2px solid #6b476b;
}
.chat-message .cards-notification {
  align-items: center;
}
.chat-message .cards-notification > .icon {
  flex: 0 0 32px;
  height: 32px;
  margin-right: 8px;
}
.chat-message .cards-notification > p {
  margin: 0;
}
/* New Chat Message Form */
#chat-form {
  height: 100px;
  flex: 0 0 100px;
  margin: 0 6px 6px;
}
#chat-form textarea {
  width: 100%;
  height: 100%;
  resize: none;
  background: url(../ui/parchment.jpg) repeat;
}
/* Roll Table Results */
.chat-message .table-draw .table-description {
  border-top: 1px solid var(--color-border-light-primary);
  color: var(--color-text-dark-secondary);
  font-size: var(--font-size-12);
  padding: 5px 0;
}
.chat-message .table-draw .table-results {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.chat-message .table-draw .table-results .table-result {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-light-primary);
  padding: 3px 0;
}
.chat-message .table-draw .table-results .table-result img.result-image {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  object-fit: cover;
}
.chat-message .table-draw .table-results .table-result .result-text {
  margin: 0;
  padding: 0;
  line-height: 16px;
}
.chat-message .table-draw .table-results .table-result:last-child {
  border-bottom: none;
}
/** Card Draws */
.chat-message .card-draw {
  align-items: center;
}
.chat-message .card-draw .card-face {
  height: 48px;
  flex: 0;
  margin-right: 8px;
}
.chat-message .card-draw .card-name {
  line-height: 48px;
  margin: 0;
  font-weight: bold;
}
/* Popped-out Message */
.chat-popout .window-content {
  padding: 1px;
}
.app .mce-panel {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
.app .mce-panel span {
  display: inherit;
}
.app .mce-top-part {
  border-bottom: 2px groove var(--color-border-light-highlight);
}
.app .mce-top-part::before {
  box-shadow: none;
}
.app .mce-btn {
  background: transparent;
  border: none;
  color: var(--color-text-dark-1);
}
.app .mce-btn:hover {
  background: transparent;
  border: none;
  color: inherit;
}
.app .mce-btn .mce-ico {
  color: var(--color-text-dark-1);
}
.dice-roll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-around;
}
.dice-roll > * {
  flex: 1;
}
.dice-roll > .flex0 {
  display: block;
  flex: 0;
}
.dice-roll > .flex1 {
  flex: 1;
}
.dice-roll > .flex2 {
  flex: 2;
}
.dice-roll > .flex3 {
  flex: 3;
}
.dice-roll .dice-result,
.dice-roll .dice-tooltip {
  flex: 0 0 100%;
}
.dice-roll .dice-tooltip {
  display: none;
  order: 1;
}
.dice-roll .dice-tooltip.expanded {
  display: block;
}
.dice-roll .dice-result {
  order: 2;
}
.dice-roll .dice-formula,
.dice-roll .dice-total {
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
.dice-roll .dice-formula {
  margin-bottom: 5px;
}
.dice-roll .dice-total {
  flex: 0;
  font-size: var(--font-size-20);
  font-weight: bold;
}
.dice-roll .dice-total.success {
  color: green;
}
.dice-roll .dice-total.failure {
  color: red;
}