.chat-message {
  margin: 3px;
  padding: 5px;
  font-size: var(--font-size-14);
  color: var(--color-text-dark-primary);
  background: url(../ui/parchment.jpg) repeat;
  border: 2px solid #6f6c66;
  border-radius: 5px;

  .message-header {
    line-height: 20px;
    color: var(--color-text-dark-secondary);

    .message-sender {
      flex: 3;
      margin: 0;
      white-space: nowrap;
    }

    .message-metadata {
      flex: 2;
      text-align: right;
      font-size: var(--font-size-12);
    }

    .flavor-text, .whisper-to {
      flex: 0 0 100%;
      font-size: var(--font-size-12);
    }
  }

  .message-content {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    word-break: break-word;
  }

  &.emote {
    background: #f3edde;
    border: 2px solid #887c5d;
  }

  &.whisper {
    background: #e8e8ef;
    border: 2px solid #545469;
  }

  &.blind {
    background: #f5eaf5;
    border: 2px solid #6b476b;
  }

  .cards-notification {
    align-items: center;

    > {
      .icon {
        flex: 0 0 32px;
        height: 32px;
        margin-right: 8px;
      }

      p {
        margin: 0;
      }
    }
  }
}

.dice-roll {
  .dice-formula {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
  }

  .dice-total {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
    flex: 0;
    font-size: var(--font-size-20);
    font-weight: bold;
  }
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}